ENRLReconSystem.WebAPI/Connected Services/srvAEMemberEligibility/ReadOvationsMemberEligibilityServiceV8Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://upm3.uhc.com/ovationsmember/readovationsmembereligibility/v8" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ReadOvationsMemberEligibilityServiceV8Service" targetNamespace="http://upm3.uhc.com/ovationsmember/readovationsmembereligibility/v8" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns1="http://upm3.uhc.com" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://upm3.uhc.com/ovationsmember/readovationsmembereligibility/v8" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://upm3.uhc.com" />
      <xs:element name="internalUse" type="ns1:internalUse" />
      <xs:element name="keyValuePair" type="ns1:keyValuePair" />
      <xs:element name="logLevel" type="ns1:logLevel" />
      <xs:element name="pingHop" type="ns1:pingHop" />
      <xs:element name="pingRequest" type="ns1:pingRequest" />
      <xs:element name="pingResponse" type="ns1:pingResponse" />
      <xs:element name="requestBase" type="ns1:requestBase" />
      <xs:element name="requestHeader" type="ns1:requestHeader" />
      <xs:element name="responseBase" type="ns1:responseBase" />
      <xs:element name="responseHeader" type="ns1:responseHeader" />
      <xs:element name="serviceCallStatus" type="ns1:serviceCallStatus" />
      <xs:element name="serviceHop" type="ns1:serviceHop" />
      <xs:element name="statusMessage" type="ns1:statusMessage" />
      <xs:element name="statusMessageLevel" type="ns1:statusMessageLevel" />
      <xs:element name="vr1StatusContainer" type="ns1:vr1StatusContainer" />
      <xs:element name="vrcStatusGroup" type="ns1:vrcStatusGroup" />
      <xs:complexType name="readOvationsMemberEligibilityRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:requestBase">
            <xs:sequence>
              <xs:element minOccurs="0" name="controlModifiers" type="tns:controlModifiersType" />
              <xs:element minOccurs="0" name="searchType" type="xs:string" />
              <xs:element minOccurs="0" name="householdSearchCriteria" type="tns:accountIdSearchCriteriaType" />
              <xs:element minOccurs="0" name="planSearchCriteria" type="tns:planBenefitSearchCriteriaType" />
              <xs:element minOccurs="0" name="employerSearchCriteria" type="tns:employerIdSearchCriteriaType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="controlModifiersType">
        <xs:sequence>
          <xs:element minOccurs="0" name="getPlanProfileIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="gpsSystemParameters" type="tns:gpsSystemParametersType" />
          <xs:element minOccurs="0" name="includeApplicationData" type="xs:boolean" />
          <xs:element minOccurs="0" name="includePlanData" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gpsSystemParametersType">
        <xs:sequence>
          <xs:element minOccurs="0" name="clientId" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountIdSearchCriteriaType">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planBenefitSearchCriteriaType">
        <xs:sequence>
          <xs:element minOccurs="0" name="contractNumber" type="xs:string" />
          <xs:element minOccurs="0" name="medicareClaimNumber" type="xs:string" />
          <xs:element minOccurs="0" name="planBenefitPackage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="employerIdSearchCriteriaType">
        <xs:sequence>
          <xs:element minOccurs="0" name="employerBranchNumber" type="xs:string" />
          <xs:element minOccurs="0" name="employerId" type="xs:string" />
          <xs:element minOccurs="0" name="medicareClaimNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readOvationsMemberEligibilityResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ns1:responseBase">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="account" nillable="true" type="tns:accountType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="accountType">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="householdIndividual" nillable="true" type="tns:individualType" />
          <xs:element minOccurs="0" name="terminationDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="individualType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="additionalID" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="application" nillable="true" type="tns:applicationType" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfDeath" type="xs:string" />
          <xs:element minOccurs="0" name="doNotCallInd" type="xs:string" />
          <xs:element minOccurs="0" name="doNotMailInd" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="tns:emailType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="employer" nillable="true" type="tns:employerType" />
          <xs:element minOccurs="0" name="employerAccountId" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="individualAddress" nillable="true" type="tns:ovationsAddressType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="individualAttributes" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" name="individualId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="individualPhone" nillable="true" type="tns:phoneType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="individualProfile" nillable="true" type="tns:individualProfileType" />
          <xs:element minOccurs="0" name="individualTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="insuredCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="insuredPlan" nillable="true" type="tns:insuredPlanType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="language" nillable="true" type="tns:languageType" />
          <xs:element minOccurs="0" name="medicareClaimNumber" type="xs:string" />
          <xs:element minOccurs="0" name="medicarePartAStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="medicarePartAStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="medicarePartBStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="medicarePartBStopDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="memberProfile" nillable="true" type="tns:memberProfileType" />
          <xs:element minOccurs="0" name="name" type="tns:personNameType" />
          <xs:element minOccurs="0" name="outOfAreaDisenrollmentDate" type="xs:string" />
          <xs:element minOccurs="0" name="outOfAreaIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="socialSecurityNbr" type="xs:string" />
          <xs:element minOccurs="0" name="spokenLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="writtenLanguage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nameValuePairType">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="applicationType">
        <xs:sequence>
          <xs:element minOccurs="0" name="agentId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="applicationAttributes" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" name="applicationId" type="xs:string" />
          <xs:element minOccurs="0" name="applicationSourceDescription" type="xs:string" />
          <xs:element minOccurs="0" name="applicationSourceId" type="xs:string" />
          <xs:element minOccurs="0" name="businessSegment" type="xs:string" />
          <xs:element minOccurs="0" name="employer" type="tns:employerType" />
          <xs:element minOccurs="0" name="enrollmentSourceCode" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentSourceDescription" type="xs:string" />
          <xs:element minOccurs="0" name="imageId" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="tns:personNameType" />
          <xs:element minOccurs="0" name="note" type="xs:string" />
          <xs:element minOccurs="0" name="planCategory" type="xs:string" />
          <xs:element minOccurs="0" name="planCategoryId" type="xs:string" />
          <xs:element minOccurs="0" name="planCode" type="xs:string" />
          <xs:element minOccurs="0" name="planName" type="xs:string" />
          <xs:element minOccurs="0" name="planType" type="xs:string" />
          <xs:element minOccurs="0" name="planTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="proposedEffectiveDate" type="xs:string" />
          <xs:element minOccurs="0" name="receivedDate" type="xs:string" />
          <xs:element minOccurs="0" name="signatureDate" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="statusId" type="xs:string" />
          <xs:element minOccurs="0" name="withdrawalDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="employerType">
        <xs:sequence>
          <xs:element minOccurs="0" name="billGroupNumber" type="xs:string" />
          <xs:element minOccurs="0" name="branchId" type="xs:string" />
          <xs:element minOccurs="0" name="branchName" type="xs:string" />
          <xs:element minOccurs="0" name="branchNumber" type="xs:string" />
          <xs:element minOccurs="0" name="countryCode" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="employerId" type="xs:string" />
          <xs:element minOccurs="0" name="groupType" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="zip4" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="personNameType">
        <xs:sequence>
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="middleName" type="xs:string" />
          <xs:element minOccurs="0" name="prefix" type="xs:string" />
          <xs:element minOccurs="0" name="suffix" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="emailType">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactBeginDate" type="xs:string" />
          <xs:element minOccurs="0" name="contactEndDate" type="xs:string" />
          <xs:element minOccurs="0" name="contactTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ovationsAddressType">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="tns:addressType" />
          <xs:element minOccurs="0" name="addressId" type="xs:string" />
          <xs:element minOccurs="0" name="addressType" type="xs:string" />
          <xs:element minOccurs="0" name="cmsCountyCode" type="xs:string" />
          <xs:element minOccurs="0" name="cmsStateCode" type="xs:string" />
          <xs:element minOccurs="0" name="fipsCountyCode" type="xs:string" />
          <xs:element minOccurs="0" name="fipsStateCode" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="stopDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addressType">
        <xs:sequence>
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="county" type="xs:string" />
          <xs:element minOccurs="0" name="island" type="xs:string" />
          <xs:element minOccurs="0" name="latLong" type="tns:latLongType" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="street1" type="xs:string" />
          <xs:element minOccurs="0" name="street2" type="xs:string" />
          <xs:element minOccurs="0" name="zip" type="xs:string" />
          <xs:element minOccurs="0" name="zip4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="latLongType">
        <xs:sequence>
          <xs:element minOccurs="0" name="lat" type="xs:string" />
          <xs:element minOccurs="0" name="longitude" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="phoneType">
        <xs:sequence>
          <xs:element minOccurs="0" name="areaCode" type="xs:string" />
          <xs:element minOccurs="0" name="country" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="phoneContactType" type="xs:string" />
          <xs:element minOccurs="0" name="phoneExtension" type="xs:string" />
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
          <xs:element minOccurs="0" name="phoneTypeCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="individualProfileType">
        <xs:sequence>
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="individualProfileAttributes" nillable="true" type="tns:attributeType" />
          <xs:element minOccurs="0" name="institutionalizedIndicator" type="xs:string" />
          <xs:element minOccurs="0" name="medicaidIndicator" type="xs:string" />
          <xs:element minOccurs="0" name="medicaidNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attributeType">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="insuredPlanType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="alternateId" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" name="applicationId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="billingProfile" nillable="true" type="tns:billingProfileType" />
          <xs:element minOccurs="0" name="businessSegment" type="xs:string" />
          <xs:element minOccurs="0" name="conservationReason" type="xs:string" />
          <xs:element minOccurs="0" name="contractNumber" type="xs:string" />
          <xs:element minOccurs="0" name="contractYear" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="employerBranchId" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentSourceCode" type="xs:string" />
          <xs:element minOccurs="0" name="enrollmentSourceDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="insuredPlanAttributes" nillable="true" type="tns:attributeType" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element minOccurs="0" name="openToSalesIndicator" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="passport" nillable="true" type="tns:passportType" />
          <xs:element minOccurs="0" name="passportIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="planBenefitNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planGroupData" nillable="true" type="tns:planGroupDataType" />
          <xs:element minOccurs="0" name="planId" type="xs:string" />
          <xs:element minOccurs="0" name="planName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planProfile" nillable="true" type="tns:planProfileType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planRider" nillable="true" type="tns:planRiderType" />
          <xs:element minOccurs="0" name="planStatus" type="xs:string" />
          <xs:element minOccurs="0" name="planTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="productCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="provider" nillable="true" type="tns:providerType" />
          <xs:element minOccurs="0" name="regionCode" type="xs:string" />
          <xs:element minOccurs="0" name="regionId" type="xs:string" />
          <xs:element minOccurs="0" name="rxBin" type="xs:string" />
          <xs:element minOccurs="0" name="rxGroup" type="xs:string" />
          <xs:element minOccurs="0" name="rxIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="rxPcn" type="xs:string" />
          <xs:element minOccurs="0" name="terminationReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="billingProfileType">
        <xs:sequence>
          <xs:element minOccurs="0" name="billingEndDate" type="xs:string" />
          <xs:element minOccurs="0" name="billingProfileTypeId" type="xs:string" />
          <xs:element minOccurs="0" name="billingStartDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="passportType">
        <xs:sequence>
          <xs:element minOccurs="0" name="deleteIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="passportDetailsId" type="xs:string" />
          <xs:element minOccurs="0" name="passportEndDate" type="xs:string" />
          <xs:element minOccurs="0" name="passportStartDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planGroupDataType">
        <xs:sequence>
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="groupId" type="xs:string" />
          <xs:element minOccurs="0" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" name="groupNumber" type="xs:string" />
          <xs:element minOccurs="0" name="groupTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="masterGroupNumber" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element minOccurs="0" name="openToEnrollmentInd" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="sourceSystemId" nillable="true" type="tns:sourceSystemNameValuePairType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sourceSystemNameValuePairType">
        <xs:sequence>
          <xs:element minOccurs="0" name="sourceSystemIdName" type="xs:string" />
          <xs:element minOccurs="0" name="sourceSystemIdValue" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planProfileType">
        <xs:sequence>
          <xs:element minOccurs="0" name="copayCategory" type="xs:string" />
          <xs:element minOccurs="0" name="copayCategoryId" type="xs:string" />
          <xs:element minOccurs="0" name="credibleCoverageIndicator" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="licsPct" type="xs:string" />
          <xs:element minOccurs="0" name="netLepAmount" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="planProfileAttributes" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" name="uncoveredMonths" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planRiderType">
        <xs:sequence>
          <xs:element minOccurs="0" name="conservationReason" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="riderCode" type="xs:string" />
          <xs:element minOccurs="0" name="riderName" type="xs:string" />
          <xs:element minOccurs="0" name="riderPlanId" type="xs:string" />
          <xs:element minOccurs="0" name="riderStatus" type="xs:string" />
          <xs:element minOccurs="0" name="riderType" type="xs:string" />
          <xs:element minOccurs="0" name="terminationReason" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="providerType">
        <xs:sequence>
          <xs:element minOccurs="0" name="autoAssignedIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="changeReasonCode" type="xs:string" />
          <xs:element minOccurs="0" name="dataSource" type="xs:string" />
          <xs:element minOccurs="0" name="dataSourceId" type="xs:string" />
          <xs:element minOccurs="0" name="network" type="xs:string" />
          <xs:element minOccurs="0" name="overrideIndicator" type="xs:boolean" />
          <xs:element minOccurs="0" name="participatingPCPDesc" type="xs:string" />
          <xs:element minOccurs="0" name="participatingPCPInd" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="tns:phoneType" />
          <xs:element minOccurs="0" name="providerEffectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="providerEffectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="providerFullName" type="xs:string" />
          <xs:element minOccurs="0" name="providerIdentity" type="tns:providerIdentityType" />
          <xs:element minOccurs="0" name="region" type="tns:providerRegionType" />
          <xs:element minOccurs="0" name="termReasonCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="providerIdentityType">
        <xs:sequence>
          <xs:element minOccurs="0" name="deaNo" type="xs:string" />
          <xs:element minOccurs="0" name="medicaidID" type="xs:string" />
          <xs:element minOccurs="0" name="medicareID" type="xs:string" />
          <xs:element minOccurs="0" name="mpin" type="xs:string" />
          <xs:element minOccurs="0" name="npi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="otherProviderID" nillable="true" type="tns:nameValuePairType" />
          <xs:element minOccurs="0" name="taxID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="providerRegionType">
        <xs:sequence>
          <xs:element minOccurs="0" name="enrollingDivisionDMISID" type="xs:string" />
          <xs:element minOccurs="0" name="regionCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="languageType">
        <xs:sequence>
          <xs:element minOccurs="0" name="languageCode" type="xs:string" />
          <xs:element minOccurs="0" name="languageUsage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="memberProfileType">
        <xs:sequence>
          <xs:element minOccurs="0" name="associationCode" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveStopDate" type="xs:string" />
          <xs:element minOccurs="0" name="eligibilitySystemId" type="xs:string" />
          <xs:element minOccurs="0" name="memberNumber" type="xs:string" />
          <xs:element minOccurs="0" name="memberNumberSystem" type="xs:string" />
          <xs:element minOccurs="0" name="migratedMbrAppRecDate" type="xs:string" />
          <xs:element minOccurs="0" name="migratedMbrAppSourceDesc" type="xs:string" />
          <xs:element minOccurs="0" name="migratedMbrAppSourceId" type="xs:string" />
          <xs:element minOccurs="0" name="migratedMemberInd" type="xs:string" />
          <xs:element minOccurs="0" name="migrationType" type="xs:string" />
          <xs:element minOccurs="0" name="origEffectiveDate" type="xs:string" />
          <xs:element minOccurs="0" name="secondaryMemberNumber" type="xs:string" />
          <xs:element minOccurs="0" name="sourceSystemDesc" type="xs:string" />
          <xs:element minOccurs="0" name="sourceSystemId" type="xs:string" />
          <xs:element minOccurs="0" name="srcSystemMemberId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ServiceException" type="tns:ServiceException" />
      <xs:complexType name="ServiceException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="invokePing" type="tns:invokePing" />
      <xs:complexType name="invokePing">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="ns1:pingRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="invokePingResponse" type="tns:invokePingResponse" />
      <xs:complexType name="invokePingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:pingResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="invokeService" type="tns:invokeService" />
      <xs:complexType name="invokeService">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:readOvationsMemberEligibilityRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="invokeServiceResponse" type="tns:invokeServiceResponse" />
      <xs:complexType name="invokeServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:readOvationsMemberEligibilityResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://upm3.uhc.com" xmlns:ns1="http://upm3.uhc.com/ovationsmember/readovationsmembereligibility/v8" targetNamespace="http://upm3.uhc.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://upm3.uhc.com/ovationsmember/readovationsmembereligibility/v8" />
      <xs:complexType name="pingRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:requestBase">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="requestBase" abstract="true">
        <xs:sequence>
          <xs:element name="requestHeader" type="tns:requestHeader" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestHeader">
        <xs:sequence>
          <xs:element name="applicationName" type="xs:string" />
          <xs:element name="applicationInstanceName" nillable="true" type="xs:string" />
          <xs:element name="logLevel" type="tns:logLevel" />
          <xs:element minOccurs="0" name="externalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceOption" nillable="true" type="tns:keyValuePair" />
          <xs:element minOccurs="0" name="internalUse" nillable="true" type="tns:internalUse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="keyValuePair">
        <xs:sequence>
          <xs:element name="key" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internalUse">
        <xs:sequence>
          <xs:element name="uid" nillable="true" type="xs:string" />
          <xs:element name="serviceName" nillable="true" type="xs:string" />
          <xs:element name="serviceVersion" nillable="true" type="xs:string" />
          <xs:element name="originalConsumer" nillable="true" type="xs:string" />
          <xs:element name="originalServiceName" nillable="true" type="xs:string" />
          <xs:element name="originalServiceVersion" nillable="true" type="xs:string" />
          <xs:element name="logSequence" nillable="true" type="xs:int" />
          <xs:element name="uidGeneratedBy" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pingResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:responseBase">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="pingHops" type="tns:pingHop" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="responseBase" abstract="true">
        <xs:sequence>
          <xs:element name="responseHeader" type="tns:responseHeader" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pingHop">
        <xs:sequence>
          <xs:element minOccurs="0" name="className" type="xs:string" />
          <xs:element minOccurs="0" name="bundleName" type="xs:string" />
          <xs:element minOccurs="0" name="bundleVersion" type="xs:string" />
          <xs:element minOccurs="0" name="bundleId" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
          <xs:element minOccurs="0" name="applicationAuthorized" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="configurationInformation" nillable="true" type="tns:keyValuePair" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseHeader">
        <xs:sequence>
          <xs:element name="serviceCallStatus" type="tns:serviceCallStatus" />
          <xs:element name="externalId" nillable="true" type="xs:string" />
          <xs:element name="serviceName" type="xs:string" />
          <xs:element name="serviceVersion" type="xs:string" />
          <xs:element name="logLevel" type="tns:logLevel" />
          <xs:element name="upmEnvironment" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceHops" nillable="true" type="tns:serviceHop" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="statusMessages" nillable="true" type="tns:statusMessage" />
          <xs:element name="internalUse" type="tns:internalUse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceHop">
        <xs:sequence>
          <xs:element minOccurs="0" name="bundleName" type="xs:string" />
          <xs:element minOccurs="0" name="bundleVersion" type="xs:string" />
          <xs:element minOccurs="0" name="bundleId" type="xs:string" />
          <xs:element minOccurs="0" name="startTimestamp" type="xs:string" />
          <xs:element minOccurs="0" name="endTimestamp" type="xs:string" />
          <xs:element minOccurs="0" name="totalTimeInMilliseconds" type="xs:string" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="statusMessage">
        <xs:sequence>
          <xs:element name="statusMessageLevel" type="tns:statusMessageLevel" />
          <xs:element name="messageType" type="xs:string" />
          <xs:element name="statusMessage" type="xs:string" />
          <xs:element minOccurs="0" name="hopLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stackTrace" nillable="true" type="xs:string" />
          <xs:element name="statusOrigin" type="xs:string" />
          <xs:element minOccurs="0" name="vrcStatusGroup" nillable="true" type="tns:vrcStatusGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vrcStatusGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="statusContainerBeans" nillable="true" type="tns:vr1StatusContainer" />
          <xs:element minOccurs="0" name="vr1_status_container_num_occ" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_generated_by" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_orig_channel" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_owned_by" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_service_name" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_service_version" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_system" type="xs:string" />
          <xs:element minOccurs="0" name="vrc_status_transid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vr1StatusContainer">
        <xs:sequence>
          <xs:element minOccurs="0" name="vr1_status_additional_info" type="xs:string" />
          <xs:element minOccurs="0" name="vr1_status_code" type="xs:string" />
          <xs:element minOccurs="0" name="vr1_status_code_desc" type="xs:string" />
          <xs:element minOccurs="0" name="vr1_status_code_type_desc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="logLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DEFAULT" />
          <xs:enumeration value="TRACE" />
          <xs:enumeration value="DEBUG" />
          <xs:enumeration value="INFO" />
          <xs:enumeration value="WARN" />
          <xs:enumeration value="ERROR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="serviceCallStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="INFO" />
          <xs:enumeration value="ERROR" />
          <xs:enumeration value="EXCEPTION" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="statusMessageLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="INFORMATIONAL" />
          <xs:enumeration value="FAULT" />
          <xs:enumeration value="EXCEPTION" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="invokeService">
    <wsdl:part name="parameters" element="tns:invokeService" />
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException" />
  </wsdl:message>
  <wsdl:message name="invokeServiceResponse">
    <wsdl:part name="parameters" element="tns:invokeServiceResponse" />
  </wsdl:message>
  <wsdl:message name="invokePingResponse">
    <wsdl:part name="parameters" element="tns:invokePingResponse" />
  </wsdl:message>
  <wsdl:message name="invokePing">
    <wsdl:part name="parameters" element="tns:invokePing" />
  </wsdl:message>
  <wsdl:portType name="ReadOvationsMemberEligibility">
    <wsdl:operation name="invokePing">
      <wsdl:input name="invokePing" message="tns:invokePing" />
      <wsdl:output name="invokePingResponse" message="tns:invokePingResponse" />
      <wsdl:fault name="ServiceException" message="tns:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="invokeService">
      <wsdl:input name="invokeService" message="tns:invokeService" />
      <wsdl:output name="invokeServiceResponse" message="tns:invokeServiceResponse" />
      <wsdl:fault name="ServiceException" message="tns:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding" type="tns:ReadOvationsMemberEligibility">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="invokePing">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokePing">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokePingResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="invokeService">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokeService">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeServiceResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadOvationsMemberEligibilityServiceV8Service">
    <wsdl:port name="ReadOvationsMemberEligibilityPort" binding="tns:ReadOvationsMemberEligibilityServiceV8ServiceSoapBinding">
      <soap:address location="https://u3calpha.uhc.com/upm3_gateway/upm3/ovationsmember/ReadOvationsMemberEligibilityV8" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>